.top {
  height: 50vh;
  width: 100%;
  background-image: url(./image/bgimage.jpg);
  background-size: 100%;
  filter: blur(1.5px);
}

.bottom {
  height: fit-content;
  background-color: #f3f3ee;
}

.inner {
  background-color: #FFFFFF;
  margin-top: 5vh;
  box-shadow: 0.05px 0.05px 2.5px 0px #be98f0;
  border-radius: 5px;
}

.innerFirst {
  margin-top: 160px;
}

.innerLast {
  margin-bottom: 50px;
}

/* Intro div */
.mid {
  position: absolute;
  z-index: 20;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 10vh;
  display: flex;
  background-color: #3f8848;
  width: 800px;
  width: 800px;
  height: 330px;
  margin: auto;
  margin-top: 15vh;
  border-radius: 5px;
  box-shadow: 1px 1px 6px #3d723c;
}

.mid #me, .mid #line, .mid #intro_text {
  margin: auto;
}

.mid #me {
  height: -webkit-fill-available;
  width: -webkit-fill-available;
  background-size: cover;
  background-image: url(./image/me.jpg);
  clip-path: polygon(0 0, 100% 0%, 54% 100%, 0% 100%);
}

.mid #line {
  margin-left: 9.5%;
  margin-inline-end: 5%;
  height: 40vh;
  border-width: 3px 0px 3px 3px;
  border-style: solid;
  border-image: linear-gradient(to bottom, #f7f6f1, rgba(0, 0, 0, 0)) 1 100%;
}

.mid #intro_text {
  margin-inline-start: unset;
  margin-inline-end: 14%;
}

.mid #name {
  font-family: fantasy;
  font-size: 35px;
  letter-spacing: 2px;
  text-shadow: 1px 1px 4px #274526;
  color: #f6f6f0;
}

.mid ul {
  list-style: none;
  width: max-content;
  font-family: Corbel;
  color: aliceblue;
  font-size: large;
  font-weight: 600;
  line-height: 40px;
}

.mid li a {
  margin-inline-start: 7px;
}

.mid li img {
  width: 23px;
}

#btnDiv {
  margin-left: 40px;
  letter-spacing: 15px;
}

.btn-circle {
  color: #c8d6e1;
  width: 40px;
  height: 40px;
  padding: 3px 11px;
  font-size: 18px;
  line-height: 1.5;
  border-radius: 25px;
  box-shadow: 2px 2px 4px #2c5427d1;
}

.btn-circle:hover {
  color: #ffffff;
  box-shadow: 0.5px 0.5px 10px #ffffff;
}

/* Content position */
.text {
  margin-top: 4vh;
  border-style: solid;
  border-color: white;
  border-bottom-width: 40px;
}

/* Bottom Title */
.bottom .title {
  color: #416d30;
  font-size: x-large;
  font-weight: 500;
}

.bottom img {
  width: 5vh;
}

/* Bottom href Style  */
.bottom a{
  color: #a69f62;
}

.bottom a:hover{
  color:#524ed5;
  transition: color .25s ease-in-out,
   background-color .25s ease-in-out,
       border-color .25s ease-in-out,
         box-shadow .25s ease-in-out,
    text-decoration .25s ease-in-out;
}

/* Skill Img */
#carouselExampleControls{
  width: 22vw;
  margin-top: 20px;
}

.carousel-control-prev-icon, .carousel-control-next-icon{
  background-color: #645955;
  border-radius: 50%;
}

/* Skill Intro */
.skillIntro{
  margin-top: 5vh;
  margin-left: 4vw;
}

.skillIntro h4{
  font-family: Corbel;
  color: #3f8848;
}

.skillIntro ul{
  margin-bottom: 5vh;
}

.skillIntro p{
  margin-left: 4vw;
}

/* Education li */
.edu {
  list-style: none;
  padding-left: initial;
  margin-left: 5vw;
}

.edu .eduDetailDate{
  margin-left: 1vw;
  color: grey;
}

.edu .eduLink{
  margin-left: 3vw;
}

.edu span{
  font-family: Corbel;
}

.edu p{
  margin-left: 3vw;
}

.year {
  color: #cfcf4f;
  font-family: Corbel;
  font-size: xx-large;
  font-weight: 600;
  margin-inline-end: 40px;
}

.flow{
  display: flex;
}
