.top {
  height: 50vh;
  width: 100%;
  background-image: url(./image/bgimage.jpg);
  background-size: 100%;
  filter: blur(1.5px);
}

.bottom {
  height: fit-content;
  background-color: #f3f3ee;
}

.inner {
  background-color: #FFFFFF;
  margin-top: 7vh;
  box-shadow: 0.05px 0.05px 2.5px 0px #be98f0;
  border-radius: 5px;
}

.innerFirst {
  margin-top: 160px;
}

/* About me */
.innerFirst p {
  color: #186410;
  font-weight: bold;
  display: inline;
}

.innerLast {
  margin-bottom: 50px;
}

.flow {
  display: flex;
}
/* ---------------------------------------------------------------------------- */
/* Side Navbar */
#navicon{
  position: fixed;
  margin-left: 35px;
  margin-top: 30px;
  z-index: 1;
  color: #5dcc61;
  border-style: solid;
  padding: 6px;
  padding-left: 10px;
  padding-right: 10px;
}
#navicon:hover{
  background-color: rgba(175, 235, 178, 0.5);
  transition: .25s;
}
/* The side navigation menu */
.sidenav {
  height: 100%;
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed;
  z-index: 3;
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #eaeaea;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px;
  transition: 0.5s;
  box-shadow: 1px 1px 4px #adb1a9
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 73px;
  text-decoration: none;
  font-size: 22px;
  color: #6d6363;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #cbcfd0;
}

#fish{
  top: 10px;
  text-align: center;
  font-size: xx-large;
  margin-bottom: 30px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
/* ---------------------------------------------------------------------------- */
/* Intro div */
.mid {
  position: absolute;
  z-index: 2;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 10vh;
  display: flex;
  background-color: #3f8848;
  width: 800px;
  height: 330px;
  margin: auto;
  margin-top: 15vh;
  border-radius: 5px;
  box-shadow: 1px 1px 6px #3d723c;
}

.mid #me, .mid #line, .mid #intro_text {
  margin: auto;
}

.mid #me {
  height: -webkit-fill-available;
  width: -webkit-fill-available;
  background-size: cover;
  background-image: url(./image/me.jpg);
  clip-path: polygon(0 0, 100% 0%, 54% 100%, 0% 100%);
}

.mid #line {
  margin-left: 9.5%;
  margin-inline-end: 5%;
  height: 40vh;
  border-width: 3px 0px 3px 3px;
  border-style: solid;
  border-image: linear-gradient(to bottom, #f7f6f1, rgba(0, 0, 0, 0)) 1 100%;
}

.mid #intro_text {
  margin-inline-start: unset;
  margin-inline-end: 14%;
}

.mid #name {
  font-family: fantasy;
  font-size: 35px;
  letter-spacing: 2px;
  text-shadow: 1px 1px 4px #274526;
  color: #f6f6f0;
}

.mid ul {
  list-style: none;
  width: max-content;
  font-family: Corbel;
  color: aliceblue;
  font-size: large;
  font-weight: 600;
  line-height: 40px;
}

.mid li a {
  margin-inline-start: 7px;
}

.mid li i {
  width: 25px;
  font-size: larger;
  text-align: center;
  color: #e5e5ea;
}

#btnDiv {
  margin-left: 40px;
  letter-spacing: 15px;
}

.btn-circle {
  color: #c8d6e1;
  width: 40px;
  height: 40px;
  padding: 3px 11px;
  font-size: 18px;
  line-height: 1.5;
  border-radius: 25px;
  box-shadow: 2px 2px 4px #2c5427d1;
}

.btn-circle:hover {
  color: #ffffff;
  box-shadow: 0.5px 0.5px 10px #ffffff;
}

/* Content position */
.text {
  margin-top: 4vh;
  border-style: solid;
  border-color: white;
  border-bottom-width: 40px;
}
/* ---------------------------------------------------------------------------- */

/* Bottom Title */
.bottom .title {
  color: #416d30;
  font-size: x-large;
  font-weight: 500;
}

.bottom img {
  width: 4.5vh;
}

/* Bottom href Style  */
.bottom a {
  color: #a69f62;
}

.bottom a:hover {
  color: #524ed5;
  transition: color .25s ease-in-out,
    background-color .25s ease-in-out,
    border-color .25s ease-in-out,
    box-shadow .25s ease-in-out,
    text-decoration .25s ease-in-out;
}

/* Bottom fas */
.bottom .fas{
  font-weight: 900;
  color: #3f8848;
  vertical-align: initial;
  width: 4vh;
}

/* Skill Img */
#carousel1{
  width: 330px;
  margin-top: 20px;
}

#carousel2{
  width: 330px;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  background-color: #645955;
  border-radius: 50%;
}

.carouselDiv {
  height: 470px;
  margin-bottom: 7vh;
}

.figure{
  padding: 8px;
  height: 450px;
  background-color: #e8eae5;
}

#ArcmapImg {
  vertical-align: middle;
}

figcaption p {
  /* Date */
  text-align: right;
}

/* Skill Intro */
#skillIntro1 {
  margin-top: 10vh;
}

#skillIntro2 {
  margin-top: 10vh;
  margin-left: 1vw;
  margin-right: 2vw;
}

.skillIntro h4 {
  font-family: Corbel;
  color: #3f8848;
}

.skillIntro ul {
  margin-bottom: 5vh;
  list-style: none;
}

.skillIntro p {
  margin-left: 4vw;
}

#skillTitle {
  margin-bottom: 20px;
}

/* Education li */
.edu {
  list-style: none;
  padding-left: initial;
  margin-left: 5vw;
  margin-top: 5vh;
  margin-bottom: 0px;
}

.edu .eduDetailDate {
  margin-left: 2vw;
  color: grey;
}

.edu span {
  font-family: Corbel;
}

.year {
  color: #cfcf4f;
  font-family: Corbel;
  font-size: xx-large;
  font-weight: 600;
  margin-inline-end: 40px;
}

/* Experience li */
.companyUl{
  margin-top: 30px;
  list-style: none;
  padding-left: 0px;
}
.workdate{
  font-family: Corbel;
  color: grey;
  margin-left: 2vw;
}
.companyUl p{
  margin-left: 2vw;
}

/* Experience Map */
.map{
  height: 300px;
}
/* Map Marker and Popup */
#marker1, #marker2 {
  width: 8px;
  height: 8px;
  border: 1px solid #6aaeae;
  border-radius: 5px;
  background-color: #4e5db6;
}
.popup{
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
  position: absolute;
  background-color: #80b782;
  padding: 5px;
  padding-top: 0px;
  bottom: 6px;
  left: -41px;
  min-width: 30px;
}
#popup2{
  left: -50px;
  min-width: 58px;
}
#popup1 a, #popup2 a{
  font-weight: 500;
  color: white;
  vertical-align: 6px;
}

/* Interest */
.card{
  box-shadow: 0.5px 0.5px 4px #cdbaba;
}
.interestRow{
  display: flex;
}
/* Interest Img */
#interestImg1{
  margin-left: 0px;
  margin-right: auto;
  background-image: url(./image/guitar.jpg);
  clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
}
#interestImg2{
  margin-right: 0px;
  margin-left: auto;
  background-image: url(./image/IU.jpg);
  clip-path: polygon(15% 0%, 100% 0%, 100% 100%, 0% 100%);
}
#interestImg3{
  margin-right: 0px;
  margin-left: auto;
  background-image: url(./image/games.png);
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 15% 100%);
}
.interestImg{
  height: 236px;
  width: 426px;
  background-size: 100%;
  background-repeat-y: no-repeat;
  overflow-x: hidden;
}
/* Interest Text Position */
.interestText{
  /* Independent Center */
  position: absolute;
  width: 50%;
  height: 50%;
  margin: auto;
  /* Text Center */
  text-align: center;
}
#interestText1{
  right: 0;
  padding-left: 8.5%;
  padding-right: 5%;
}
#interestText2, #interestText3{
  left: 0;
  padding-left: 5%;
  padding-right: 8.5%;
}

/* Interest Title */
.interestText h5{
  margin-top: 20%;
  margin-bottom: 9%;
  color: #217324;
  font-size: x-large;
  font-weight: 500;
}
/* Interest Content */
.interestText span{
  color: grey;
  font-size: small;
  text-align: left;
}
.interestText p{
  margin-top: 5%;
  font-size: smaller;
}

/* ------------------------------------------------------------------------- */
/* Interest Img */
@media screen and (max-width: 1200px) {
  .interestRow{
    height: 236px;
  }
  .interestImg{
    height: 250px;
    width: 355px;
  }
}
@media screen and (max-width: 991px) {
  .interestRow{
    height: 170px;
  }
  .interestImg{
    height: 250px;
    width: 255px;
  }
  .interestText h5{
    margin-bottom: 3%;
  }
}
@media screen and (max-width: 767px) {
  .interestRow{
    height: 121px;
  }
  .interestImg{
    height: 250px;
    width: 182px;
  }
}

/*---------------------------------------------------------------------------*/
@media screen and (max-width: 900px) {
  .mid {
    width: 650px;
  }

  .mid #me {
    clip-path: polygon(0 0, 93% 0, 59% 100%, 0% 100%);
  }

  .mid #line {
    display: none;
  }

  .mid #intro_text {
    margin-inline-start: 1%;
    margin-inline-end: 10%;
  }
}

/*---------------------------------------------------------------------------*/
@media screen and (max-width: 700px) {
  .mid{
    display:block;
    width: 450px;
  }
  .mid #me{
    position: absolute;
    clip-path: none;
    /* Center */
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    /* Attribute */
    width: 180px;
    height: 180px;
    border-radius: 100%;
    margin-bottom: 150px;
  }
  .mid #intro_text{
    margin: 0 auto;
  }
}
